body{
    margin: 0px;
    padding: 0px;
    background-color: #fbfbef;

}
.logoback{
    display: grid;
    height:70px;
    grid-template-columns: 1fr 9fr 1fr;
    position:sticky;
    top: 0;
    background-color: #fbfbef;
    z-index: 10000;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
    width:90px;
    height: 70px;
    z-index: 10000;
}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
    width:80px;
    height:40px;
    border:1px solid black;
    border-radius: 8px;
    background-color: #fbfbef;
    box-shadow: 3px 5px #888888;
}
.backa{
    font-weight: bold;
    font-size: 20px;
}
.back:hover{
    background-color:#dfdfb7;
}
.search{
    margin-top: 30px;
    margin-left:5%;
    width:90%;
    height: 300px;
    border:1px solid black;
    border-radius: 10px;
    background-color: black;
    z-index: 0;
    position: relative;
}
.searcht{
    text-align: center;
    z-index: 1000;
    position: absolute;
    top:180px;
    left:35%;
    color: white;
    font-weight: 100px;
}
.t{
    text-align: center;
    margin-left: 5%;
    color: #2e8b57;
}
.branch{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 2.5%;
    width:95%;
    height: 400px;
    border-radius: 8px;
    background-color: transparent;
    

}
.mbranch1 ,.mbranch2 ,.mbranch3 ,.mbranch4{
    width:20%;
    height:300px;
    background-color: transparent;  
    transition: 0.3s;
}
.mbranch1:hover,.mbranch2:hover,.mbranch3:hover,.mbranch4:hover{
    transform: scale(1.1);
}
#hii{
    color: black;
    font-size: 25px;
    margin:0px;
    font-weight: bold;
}
.hii1{
    padding: 5px;
    color: gray;
    font-size: 20px;
    margin:0px;
}
.branch1 ,.branch2 ,.branch3 ,.branch4{
    width:100%;
    height:200px;
    border: 1px solid black;
    border-radius: 20px;  
}

.star{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 400px;
}
.star1 , .star2{
    width: 35%;
    height: 350px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
}
.line{
    margin-left: 7.5%;
    width:85%;
}
.footer{
    display: block;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    width:100%;
    height:375px;
    background-color: #2E2E2E;
}
.info{
    display: flex;
}
.socio{
    display: flex;
}
.f1 ,.f2 ,.f3 ,.f4{
    padding: 10px;
    gap: 10px;
    width: 25%;
    height:300px;
    background-color: transparent;
}
.p1 ,.p2 ,.p3 ,.p4{
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}
p{
    text-align: center;
    color: white; 
}